#cross{
    color: gray;
   font-size: 30px;
   margin-left: 98%;
   width: 30px;
   }
   #cross:hover{
    cursor: pointer;
    color: rgba(128, 128, 128, 0.589);
   }
    #proname{
        width: 50%;
        height: 60px;
       margin-left: 20%;
       font-size: 30px;
       font-weight: bolder;
       margin-top: 30px;
       border-radius: 7px;
       border-width: 0.5px;
    }
    #more_option{
        width: 50%;
        margin-left: 20%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 17px;
        font-weight: bold;
        color: rgb(113, 111, 111);
    }
    #create_btn{
        margin-left: 59%;
        width: 187px;
        height: 50px;
        font-size: 20px;
        margin-top: 20px;
        color: white;
        background-color: rgba(190, 86, 67, 0.781);
        border: 0px;
        border-radius: 5px;
    }
    #create_btn:hover{
        cursor: pointer;
        background-color: tomato;
    }
    #milestone{
        width: 30%;
        margin-left: 20%;
        margin-top: 30px;
        display: flex;
        gap: 20px;
        align-items: center;
        border-radius: 10px;
        padding: 20px;
        font-size: 18px;
        background-color:rgba(125, 179, 229, 0.288);
    }
    #milestone:hover{
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
        cursor: pointer;
    }
    #num{
        border: 1px solid black;
        background-color:rgba(14, 14, 123, 0.849);
        color: white;
        border-radius: 50%;
        padding: 10px;
    }
    #option:hover{
        cursor: pointer;
    }
    #date{
        width: 14%;
        margin-bottom: -2%;
        margin-left: 55%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: rgb(245, 242, 242);   
        font-family: 'Albert Sans', sans-serif;
        font-size: 15px;
        border-radius: 3px;
        font-weight: 500;
    }
    #date::after{
        content: '\f133';
        font-family: FontAwesome;
    }
