#navbar{
    width: 1230px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Albert Sans', sans-serif;
}
#navbar a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#navbar>div{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 600;
    font-size: 0.85rem;
}
#navbar>div>a>img{
    width: 35px;
    height: 35px;
    margin-right: -20px;
    cursor: pointer;
}
#navbar>div>button{
    width: 170px;
    height: 45px;
    background-color: #f37e5d;
    color: white;
    font-weight: 600;
    font-family: 'Albert Sans', sans-serif;
    border: 0px;
    border-radius: 5px;
}
#navbar>div>button:hover{
    background-color: #f76238;
    cursor: pointer;
}
#navbar>div:nth-child(2)>p:hover{
    color: #d3785f;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 27px 0px;
}
.dropdown>span:hover{
    color: #d3785f;
}
#aTagHover:hover , #priceHover:hover, #aTagHover2:hover{
    color: #d3785f;
}
.downmenu{
    display: none;
    position: absolute;
    top: 70px;
    left: -180px;
    min-width: 730px;
    z-index: 1;
    padding: 20px 0px;
    font-family: 'Albert Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.downmenu>div:nth-child(1){
    width: 380px;
    border-right: 0.5px solid gainsboro;
}
.downmenu>div{
    margin-left: 40px;
}
.downmenu>div>p{
    font-size: 0.8rem;
    color: rgb(163, 162, 162);
    font-weight: 600;
}
.downmenu>div>div{
    width: 330px;
    padding: 10px 15px;
    display: flex;
    align-items: flex-start;
}
.downmenu>div>div:hover{
    background-color: rgb(245, 245, 245);
}
.downmenu>div>div>img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
}
.downmenu>div>div>p{
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 17px;
}
.downmenu>div>div>p>span{
    font-size: 0.8rem;
    font-weight: 100;
    line-height: normal;
}
.downmenu>div:nth-child(2)>div{
    width: 200px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 700;
}
.downmenu>div:nth-child(2)>div:nth-child(2){
    margin-bottom: 70px;
}
.downmenu>div:nth-child(2)>div>img{
    width: 30px;
    height: 30px;
}
.dropdown:hover .downmenu{
    display: block;
    display: flex;
    background-color: white;
}
.downmenu1{
    display: none;
    position: absolute;
    top: 70px;
    left: -15px;
    min-width: 260px;
    padding: 20px;
    font-family: 'Albert Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
    border-radius: 5px;
}
.downmenu1>div{
    margin: auto;
    padding: 15px;
}
.downmenu1>div:hover{
    background-color: rgb(245, 245, 245);
}
.downmenu1>div>p{
    font-size: 0.9rem;
    font-weight: 700;
    margin-top:4px;
    margin-bottom: -12px;
}
.downmenu1>div>span{
    font-size: 0.8rem;
    font-weight: 100;
}
.dropdown:hover .downmenu1{
    display: block;
    background-color: white;
}
.downmenu2{
    display: none;
    position: absolute;
    top: 70px;
    left: -470px;
    min-width: 840px;
    padding: 30px 20px 30px 10px;
    margin-left: 40px;
    z-index: 1;
    font-family: 'Albert Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.downmenu2>div{
    margin-left: 25px;
}
.downmenu2>div:nth-child(1)>p{
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 18px;
}
.downmenu2>div:nth-child(1)>p>span{
    padding: 3px 15px;
    border-radius: 2px;
    background-color: #f7aa9589;
    color:#f37e5d;
}
.downmenu2>div:nth-child(1){
    width: 40%;
    padding: 0px 20px 0px 0px;
    border-right: 0.5px solid gainsboro;
}
.downmenu2>div:nth-child(1)>div{
    display: flex;
    padding: 10px 10px 0px 10px;
}
.downmenu2>div:nth-child(1)>div>img{
    width: 40px;
    height: 30px;
    margin-right: 10px;
}
.downmenu2>div:nth-child(1)>div:hover{
    background-color: rgb(245, 245, 245);
}
.downmenu2>div>div>p{
    font-weight: 600;
    margin-top: 0px;
    line-height: 20px;
}
.downmenu2>div>div>p>span{
    font-size: 0.8rem;
    font-weight: 100;
}
.downmenu2>div>p{
    font-size: 0.8rem;
    font-weight: 600;
}
.downmenu2>div:nth-child(2){
    display: flex;
    gap: 20px;
}
.downmenu2>div:nth-child(2)>div>p{
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.downmenu2>div:nth-child(2)>div>li{
    list-style: none;
    margin-left: -10px;
    font-size: 0.85rem;
    padding: 5px 10px 5px 10px;
    line-height: 25px;
    font-weight: 100;
}
.downmenu2>div:nth-child(2)>div>li:hover{
    background-color: rgb(245, 245, 245);
}
.dropdown:hover .downmenu2{
    display: block;
    display: flex;
    background-color: white;
}
